html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;    
    transition: transform 0.5s ease, opacity 0.5s ease;
    will-change: transform, opacity; /* Optimisation des performances pour les animations */
}

.navbar nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 3em;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 2.0em;
    font-family: "Karantina", sans-serif;
}

.navbar a:hover,
.navbar a:focus {
    color: #dddddd;
}

.navbar-hidden {
     /* ou vous pouvez utiliser 'opacity: 0;' pour un effet de fade out */
    transform: translateY(-100%); /* Déplace la navbar hors de l'écran par le haut */
    opacity: 0; /* Rend la navbar transparente */
    pointer-events: none; /* Empêche les interactions avec la navbar lorsqu'elle est invisible */
}

h1 {
    font-family: "Karantina", sans-serif;
    font-size: 16.5vh;
    color: white;
    text-align: left;
    margin: 0;
    padding-right: 4.5em;
    font-weight: 400;
}


.front-end {
    font-size: 0.4em;
}

.button-contact {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    top: 20px;
    right: 35em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-contact:hover,
.button-contact:focus {
    background-color: #0056b3;
}

 .content {
    max-width: 80%; /* Ou une largeur spécifique en px */
    text-align: left; /* Centre le texte à l'intérieur du conteneur */
    padding: 20px; /* Ajoute un peu d'espace autour du texte */
    margin: auto; /* Centre le conteneur dans la section */ 
}

.content h2 {
    position: relative;
    bottom: 0.8em;
    right: 0.5em;
    color: #ffffff; /* Couleur du texte */
    font-size: 7.5rem; /* Taille de la police */
    margin-bottom: 20px; /* Espace sous le h2 */
    font-family: "Karantina", sans-serif;
    font-weight: 400;
}

.content p {
    position: relative;
    right: 1.8em;
    bottom: 1.5em;
    color: #ffffff; /* Couleur du texte */
    margin-bottom: 50px; /* Espace sous chaque paragraphe */
    font-family: "KoHo";
    font-size: 32px;
    padding-right: 15em;
    line-height: 1.8em;
}



