html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    width: 100%;
    height: 100vh; /* Utilisez vh pour s'assurer que chaque image couvre 100% de la hauteur de la fenêtre du navigateur */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image1 {
    background-image: url('../assets/1.png'); /* Changez le chemin pour votre première image */
}
#image2 {
    background-image: url('../assets/2.png'); /* Changez le chemin pour votre deuxième image */
}

#image3 {
    background-image: url('../assets/3.png'); /* Changez le chemin pour votre troisième image */
}

#image4 {
    background-image: url('../assets/4.png'); /* Changez le chemin pour votre quatrième image */
}

#image5 {
    background-image: url('../assets/5.png'); /* Changez le chemin pour votre cinquième image */
}

#image6 {
    background-image: url('../assets/6.png'); /* Changez le chemin pour votre sixième image */
}

#image7 {
    background-image: url('../assets/7.png'); /* Changez le chemin pour votre septième image */
}

#image8 {
    background-image: url('../assets/8.png'); /* Changez le chemin pour votre huitième image */
}
/* Répétez pour autant d'images que vous avez, en ajustant l'ID et le chemin de l'image */
